body {
	background: linear-gradient(140deg, rgb(95, 212, 12), rgb(150, 3, 150));
}
.wrapper {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #180f7d;
	padding: 50px;
	color: #ffffffd8;
	text-align: center;
	border: black 10px solid;
}
.wrapper h2 {
	text-transform: uppercase;
	font-family: poppins;
	margin-bottom: 10%;
	font-size: 70px;
}
input[type="text"] {
	height: 40px;

}
input[type="text"] {
	font-size: 24px;
}
button {
	background: #0a04b2;
	border: none;
	color: #ffffff;
	display: inline-block;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: poppins;
	letter-spacing: 2px;
	font-weight: bold;
	border: black 5px solid;
}
input[type="radio"] {
	width: 20px;
	height: 20px;
}
b {
	font-size: 30px;
}
